extends layout

block content

	p.intro
		| Hi, I'm Jeroen. Here are some of the things I've made or am making.


	section.project-list
		ul
			li
				h2
					a(href='/octy', target='_blank') Octy
					|  (unfinished)
				a.img-link(href='/octy', target='_blank')
					img(src="images/octy.svg")
				p
					| A platfomer-like mobile game with a built-in level editor. Built using the Phaser.js framework.
					| Currently only available 
					a(href='/octy', target='_blank') in-browser
					|  (work-in-progress version) and on 
					a(href='https://www.microsoft.com/en-us/store/apps/octy/9nblggh0j563', target='_blank') Windows Phone
					|  (old version built with Construct 2), but I do plan to release it on Android and possibly iPhone some day.
			
			li
				h2
					a(href='/neuron-draw', target='_blank') Neuron draw
				a(href='/neuron-draw', target='_blank')
					img(src="images/neuron-draw.png")
				p
					| A little exercise in HTML5 canvas drawing and procedural generation. It can create very interesting patterns when you play around with the input variables. Inspired by 
					a(href='https://en.wikipedia.org/wiki/Santiago_Ram%C3%B3n_y_Cajal', target='_blank') Santiago Ramón y Cajal
					| , who was one of the first to make detailed drawings of neurons.
				a.github(href='https://github.com/JeroenDelcour/neuron-draw', target='_blank') source
			
			li
				h2
					a(href='/YearCircler', target='_blank') Year Circler
				a(href='/YearCircler', target='_blank')
					img(src="images/yearcircler.png")
				p
					| Yearly calendar in the shape of a clock, because I like to keep an eye on <em>when</em> I am on a grander scale. An exercise in design and building SVG elements using JavaScript.
				a.github(href='https://github.com/JeroenDelcour/YearCircler', target='_blank') source