extends layout

block content
  h1 About
  p
    | Hi, I'm Jeroen Delcour. I dabble in programming, web design, video game development, and general geekiness.
  p
    | Over time, these hobbies have resulted in a modest collection of programming doodads, web design thingamajigs, video game development tomfoolery, and general geeky gismos. A word of warning: some of these are highly experimental and liable to explode (a.k.a. buggy).


  h1 Projects

  section.project-list
    ul
      li
        h2
          a(href='/Octy', target='_blank') Octy
          |  (work in progress)
        a.img-link(href='/Octy', target='_blank')
          img(src="images/octy.svg")
        p
          | A platfomer-like mobile game with a built-in level editor. Built using the Phaser.js framework.
          | Currently only available 
          a(href='/Octy', target='_blank') in-browser
          |  (work-in-progress version) and on 
          a(href='https://www.microsoft.com/en-us/store/apps/octy/9nblggh0j563', target='_blank') Windows Phone
          |  (old version built with Construct 2), but I do plan to release it on Android and possibly iPhone some day.
      hr
      li
        h2
          a(href='/neuron-draw', target='_blank') Neuron draw
        a(href='/neuron-draw', target='_blank')
          img(src="images/neuron-draw.png")
        p
          | A little exercise in HTML5 canvas drawing and procedural generation. It can create very interesting patterns when you play around with the input variables. Inspired by 
          a(href='https://en.wikipedia.org/wiki/Santiago_Ram%C3%B3n_y_Cajal', target='_blank') Santiago Ramón y Cajal
          | , who was one of the first to make detailed drawings of neurons.
        a.github(href='https://github.com/JeroenDelcour/neuron-draw', target='_blank') source code
      hr
      li
        h2
          a(href='/yearcircler', target='_blank') Yearcircler
          |  (experimental)
        a(href='/yearcicler', target='_blank')
          img(src="images/yearcircler.png")
        p
          | An experimental calendar/planner displaying a full year in the form of a clock. An exercise in building SVGs using JavaScript. Warning: breaks easily. I need to figure out a better way to display date ranges (especially ones that span multiple years).
