extends layout

block content

	section.project-list
		ul
			li
				h2
					a(href='/hearthstone') Hearthstone card synergy analysis
				a.img-link(href='/hearthstone')
					img(src="images/hearthstone.png")
				p
					| Maximizing card synergy by finding cards that are often used together in the same tournament deck. Made using Python and D3.js.
			li
				h2
					a(href='/2016election') How Twitter feels about the 2016 USA presidential candidates
				a.img-link(href='/2016election')
					img(src="images/2016election.png")
				p
					| Live sentiment analysis on Tweets about Bernie Sanders, Donald Trump, Hillary Clinton, and Ted Cruz leading up to the 2016 presidential election. Made using NLTK for Python and D3.js.
				a.github(href='https://github.com/JeroenDelcour/SentimentalWorld', target='_blank') source
			
			li
				h2
					a(href='/neuron-draw') Neuron draw
				a(href='/neuron-draw')
					img(src="images/neuron-draw.png")
				p
					| A little exercise in HTML5 canvas drawing and procedural generation. It can create very interesting patterns when you play around with the input variables. Inspired by 
					a(href='https://en.wikipedia.org/wiki/Santiago_Ram%C3%B3n_y_Cajal', target='_blank') Santiago Ramón y Cajal
					| , who was one of the first to make detailed drawings of neurons.
				a.github(href='https://github.com/JeroenDelcour/neuron-draw', target='_blank') source
			
			li
				h2
					a(href='/YearCircler') Year Circler
				a(href='/YearCircler')
					img(src="images/yearcircler.png")
				p
					| Yearly calendar in the shape of a clock, because I like to keep an eye on <em>when</em> I am on a grander scale. An exercise in design and building SVG elements using JavaScript.
				a.github(href='https://github.com/JeroenDelcour/YearCircler', target='_blank') source

			li
				h2
					a(href='/octy') Octy
					|  (unfinished)
				a.img-link(href='/octy')
					img(src="images/octy.svg")
				p
					| A platfomer-like mobile game with a built-in level editor. Built using the Phaser.js framework.
					| Currently only available 
					a(href='/octy') in-browser
					|  (work-in-progress version) and on 
					a(href='https://www.microsoft.com/en-us/store/apps/octy/9nblggh0j563', target='_blank') Windows Phone
					|  (old version built with Construct 2), but I do plan to release it on Android and possibly iPhone some day.
