extends layout

block head
	meta(name="date" content= post.published)
	link(rel='stylesheet', href='/stylesheets/highlightjs/github-gist.css')
	meta(property="og:image", content= post.ogimage)
	meta(property="og:description", content= post.html.split("p>", 2)[1])

block content
	article
		h1= post.title
		time(datetime= post.published, pubdate="pubdate")= post.published
		!= post.html

	a(href="/blog") â† back to blog