extends layout

block append head
	link(rel='stylesheet', href='/stylesheets/webdesign.css')

block content

	p.big Ik <strong>design</strong> en <strong>develop</strong> <strong>websites</strong> van begin tot eind.

	p.big Iedere klant is anders, dus iedere website is <strong>uniek</strong> en op <strong>uw</strong> maat.

	p.big Bovenal moeten websites een <strong>genot</strong> zijn <strong>om te gebruiken</strong>.

	hr
	
	section
		h1 Design
		p is een middel, geen doel. Het begeleidt de gebruiker in het gemakkelijk vinden van wat hij/zij zoekt, en maakt gaandeweg de achterliggende gedachte van de website duidelijk. Design gaat over mensen, en is daarmee onlosmakelijk verbonden met de persoon of onderneming achter de website. Daarom verdiep ik mij in mijn klanten: uw website is ten slotte een weerspiegeling van uzelf.

	section
		h1 Development
		p doe ik toekomstbestendig. Websites die ik maak zijn van nature <em>responsive</em> en werken daarom op desktop, laptop, telefoon, tablet, en wat de toekomst nog meer brengen zal. Tevens laat ik, als alles naar wens is, u achter met een overzichtelijk dashboard zodat u zelf eenvoudig de inhoud van uw website kunt updaten. Ook registatrie van domeinnamen en hosting kan voor u geregeld worden.
	
	hr

	.me
		img(src="/images/me.png")
		a.email contact@jeroendelcour.nl