@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

svg {
	position: fixed;
}

.node text {
	font-size: 14px;
	cursor: pointer;
}

.node circle{
/*	stroke:#fff;
	stroke-width:3px;*/
	fill:#555;
}


#menu {
	float: left;
	width: 18em;
	padding: 0.3em;
	text-align: center;
}
h1 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
#subtitle {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
h2 {
	font-size: 1em;
	font-weight: bold;
}
#classSelect {
	width: 100%;
	padding: 0.3em;
	margin: 0.3em;
	font-size: 1.5em;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td:nth-child(1) {
	text-align: center;
}
td:nth-child(2) {
	text-align: left;
}