article h1 textarea {
	border: 1px solid transparent;
	width: 100%;
	background: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}
article h1 textarea:hover, article h1 textarea:focus {
	border: 1px dashed #888;
}

#editArticleBody {
	display: block;
	width: 100%;
	resize: vertical;
	background: inherit;
	border: 1px solid transparent;
	border-radius: 3px;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin-top: 1em;
}
#editArticleBody:hover, #editArticleBody:focus {
	border: 1px dashed #888;
}

#formatted {
	display: block;
	width: 100%;
	margin-top: 1em;
}